

<div class="py-3 mt-4">

    <ul class="nav justify-content-center border-bottom pb-3 bg-dark-subtle footer-opacity">

        <li class="nav-item"><a href="#" class="nav-link px-2 text-black">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-black">Contatti</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-black">Privacy</a></li>
    </ul>

    <p class="text-center text-white bg-black py-3">© 2023 Jenny's pizza, Inc</p>

</div>