<nav class="navbar navbar-expand-lg bg-black shadow-lg">

    <div class="container-fluid">

        <!--logo-->
        <a class="navbar-brand" href="#">
            <img src="https://th.bing.com/th/id/R.084b6859e80f7bfdb67a03c175f57326?rik=X6ajR0IIf%2bLkQw&pid=ImgRaw&r=0g" alt="Logo" width="40" height="25" class="d-inline-block align-text-top">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link  text-white" href="#">La Mia Pizzeria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-white" href="#">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Contattaci</a>
                </li>
            </ul>

        </div>

    </div>

</nav>